body{
    margin: 0;
    padding: 0;
}

#video{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    background-image: url('../images/image.jpg');
    background-size: cover;
    position: relative;
}

#video #myVideo{
    position: absolute;
    width: 100%;
}

#video .banner-content{
    text-align: center;
    position: relative;
}

@media only screen and (max-width: 630px) {
    #video #myVideo{
        visibility: hidden;
    }
}

#banner-text{
    font-size: 1.3em;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.gallery{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows:    100% 100%;
    grid-template-columns: 23% 23% 23%;
    background-color: #202024;
    grid-gap: 2em;
    padding: 2em 0;
}

p, h1, h3{
    font-family: "Source Sans Pro", sans-serif;
}

h1{
    font-weight: 900;
    color: white;
    font-size: 3em;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.banner p{
    font-size: 1.5em;
}

p{
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.8em;
    line-height: 2em;
}

h3{
    color: white;
}

.article{
    background-color: #2c2c32;
    border: none;
    text-align: center;
    border-radius: 4px;
}

.sect2{
    padding: 1em 2em;
    padding-top: 0.1em;
}

img{
    width: 100%;
    height: 35%;
    border-radius: 4px;
}

ul{
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
    align-content: center;
    justify-content: center;
}

li{
    list-style: none;
    padding-left: 3px;
    border-radius: 30px solid rgba(255, 255, 255, 0.75);
    color: rgba(255, 255, 255, 0.75);
}

a{
    text-decoration: none;
    color: white;
}

footer{
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 2em 0;
    background-color: #1b1b1f;
}

i{
    padding: 0.5em;
    color: rgba(255, 255, 255, 0.75);
    width: 1em;
    height: 1em;
    align-content: center;
    justify-content: center;
}

.fa-chevron-circle-down{
    font-size: 50px;
}

footer ul li a i{
    border: 1px solid rgba(110, 107, 107, 0.75);
    color: rgba(110, 107, 107, 0.75);
    border-radius: 100%;
    font-size: 25px;
    margin: auto;
}

footer ul li a i:hover{
    color: white;
}

.button{
    color: white;
    border: none;
    width: 85%;
    height: 30px;
    border-radius: 7px;
}

#p-foot{
    width: 50%;
    text-align: center;
    margin:auto;
}

#footer-h3{
    font-size: 1.5em;
    font-weight: 500;
}

.article .sect2 #color1{
    background-color: #70c7be;
}

.article .sect2 #color2{
    background-color: #7f92cf;
}

.article .sect2 #color3{
    background-color: #9d7ed0;
}

.article .sect2 #color4{
    background-color: #7F92BB;
}

.article .sect2 #color5{
    background-color: #9d7ed0;
}

.article .sect2 #color6{
    background-color: #70c7be;
}

@media only screen and (max-width: 1000px) {
    .gallery{
        grid-template-rows:    100% 100%;
        grid-template-columns: 40% 40%;
    }
}

@media only screen and (max-width: 540px) {
    .gallery{
        grid-template-rows:    100%;
        grid-template-columns: 75%;
    }
}
